#head {
    color: white;
    background-color: blue;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#search-text {
    margin-left: 1%;
}

#search {
    margin-left: 2%;
    font-size: 20px;
    width: 20%;
}

#button {
    display: block;
    margin: 0 auto;
    margin-top: 1%;
    margin-left: 2%;
    width: 20%;
   
}